img{ 
    width: 400px;
}
p {
    text-align: center;
}
.logo{
    size: 600px;
    text-align: center;
}
.logo_tamano{
    width: 200px;
}
.fondo_shadow{
    background-image: url('https://i.imgur.com/X0N9fGN.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: #FFFFFF;
}
.fondo_nick{
    background-image: url('https://i.imgur.com/PIRjvnw.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: #FFFFFF;
}
.fondo_fantasy{
    background-image: url('https://i.imgur.com/NGT3Hfe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;
}
.fondo_gowr{
    background-image: url('https://i.imgur.com/6PxhT0V.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;
}
.fondo_spidy{
    background-color: maroon;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;
}
.fondo_astrobot{
    background-image: url('https://i.imgur.com/ckziVYO.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
color: maroon;
background-position: center;
}
.fondo_holland {
    background-image: url('https://i.imgur.com/DBXorwP.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;
    }
.fondo_zombis {
        background-image: url('https://i.imgur.com/hqVyjqn.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        color: maroon;
}
.fondo_GTA {
    background-image: url('https://i.imgur.com/htcSoGx.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;
}
.fondo_RDD1 {
    background-image: url('https://i.imgur.com/kGfJ8hc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;  
}
.fondo_gtaSA {
    background-image: url('https://i.imgur.com/ekjjBwF.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: maroon;
}
.fondo_fantasyX {
    background-image: url('https://i.imgur.com/tv0ugjY.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;
}
.fondo_serpiente{
    background-image: url('https://i.imgur.com/0Luuiqq.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;   
}
.fondo_collosus {
    background-image: url('https://i.imgur.com/Bn9M8fC.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;   
}
.fondo_gow {
    background-image: url('https://i.imgur.com/FTp75mk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;   
}
.fondo_noPC {
    background-image: url('https://i.imgur.com/Nb16ZQr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;   
}
.fondo_tlou2 {
    background-image: url('https://i.imgur.com/DAVkvdx.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon; 
}
.fondo_RL {
    background-image: url('https://i.imgur.com/eB4DUeS.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon; 
}
.fondo_RRD2 { 
    background-image: url('https://i.imgur.com/i0WClFp.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    color: maroon;   
}
.font_shamu {
color:black;  
font-size: 25px;          
}
.font_gowr {
    color: maroon;  
    font-size: 25px;          
}
.font_fantasy {
      color: gray;  
     font-size: 25px;          
}
.font_idk {
    color: blue;
    font-size: 25px;
}
.font_locu {
    color:white;  
    font-size: 25px;           
}
 .font_unleashed {
    color: gold;  
    font-size: 25px;  
}
.font_drake {
    color: cyan;
    font-size: 25px
}
.font_arbol  {
    color: lime;
    font-size: 25px
}
