        img{ 
            width: 200px;
        }
        body{
            font-family: Arial, sans-serif;
           
        }
        .consola_centrado{
            size: 1000px;
            text-align: center;
        }
        .consola_size{
            width: 350px;
            height: 280px;
        }
        .back {
            position-area: top;
            width: 50px;
            float: right;
        }
        .body_index{
            background-image: url("https://i.imgur.com/zYCUzz2.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
        }
        .header_index {
            background-color: hsl(236, 76%, 26%);
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }
        .main_index {
            padding: 20px;
        }
        .console {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 50px;
            background-size: cover;
            background-position: center;
            color: #ffffff;
            background-image: url();
        }
        .logo_principal {
            position-area: top;
            width: 80px;
            float: left;
        }
        td {
            width: 160px;
        }
        table {
            width: 90%
        }
    
        .jogos {
            text-align: center;
        }
        .fondo{
            background-image: url("https://i.imgur.com/BZH7s4L.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
            color: #ffffff;
            margin: 0 5s0px;
        }
        .button {
            cursor: pointer;
            border: none;
            border-radius: 50px;
            background-color: hsl(0, 0%, 100%);
            color: white;
            transition: transform 0.3s ease, background-color 0.3s ease;
            width: 400px;
            height: 180px;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .button:hover{
            transform: scale(1.1);
            background-color: hwb(0 73% 27%);
        }

        .button2 {
        
            transition: transform 0.3s ease, background-color 0.3s ease;
        }
        
        .button2:hover{
            transform: scale(1.1);
            background-color: hwb(0 73% 27%);
        }
        
        .carousel {
            width: 100%;
            max-width: 500px;
            max-height: 400px;
            overflow: hidden;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .carousel-images {
            display: flex;
            animation: slide 12s infinite;
        }

        .carousel img {
            width: 100%;
            flex-shrink: 0;
        }

        @keyframes slide {
            0% { transform: translateX(0); }
            25% { transform: translateX(-100%); }
            50% { transform: translateX(-200%); }
            75% { transform: translateX(-300%); }
            100% { transform: translateX(-400%); }
        }