        img{ 
            width: 200px;
        }
        .consola_centrado{
            size: 600px;
            text-align: center;
        }
        .consola_size{
            width: 600px;
        }
        .back {
            position-area: top;
            width: 50px;
            float: right;
        }

