        img{ 
            width: 400px;
        }
        .logo{
            size: 600px;
            text-align: center;
        }
        .logo_tamano{
            width: 200px;
        }
        body{
            background-image: url('https://i.imgur.com/X0N9fGN.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
            color: #FFFFFF;
        }
        font {
        color:black;  
        font-size: 25px;          
        }
